<div class="d-block indexBackGround" style="background-image: url(assets/StaticFiles/Books.jpg);">
<div class="textBlock">
  <h1>The best products</h1>
  <h3>The materials used are of the best types available</h3>
</div>
</div>


<div class="d-block indexBackGround" style="background-image: url(assets/StaticFiles/Mobiles.jpg);">

  <div class="textBlock">
    <h1>Various products</h1>
  <h3>We have a lot of products of different types and prices</h3>
  </div>


  </div>

  <div class="d-block indexBackGround" style="background-image: url(assets/StaticFiles/Cloth.jpg);">
    <div class="textBlock">
      <h1>After-sales service</h1>
    <h3>We have the best service without a doubt</h3>
    </div>
  </div>

  <div class="TextMainPage">
    <div class="text-center">
      <h1>What are you waiting for</h1>
      <a  class="btn btn-warning" routerLink="/Product/Home" role="button">Shop now</a>
    </div>
  </div>

