<div class="MarginMobile"></div>
<div class="cardGroup">
    <a routerLink="/Admin/Category" class="Card">
      <img src="assets/StaticFiles/category-add.png" alt="category">
      <div class="TextCard">
        <h3>Category</h3>
        <h5>Add | Remove | Edit</h5>
      </div>
    </a>


    <a routerLink="/Admin/Product" class="Card">
      <img src="assets/StaticFiles/Product.png" alt="Product">
      <div class="TextCard">
        <h3>Product</h3>
        <h5>Add | Remove | Edit</h5>
      </div>
    </a>
</div>
