header{
  background-color: #ffb100;
  position: fixed;
  width: -webkit-fill-available;
  top:0;
  z-index:999
}

.active{
  border-bottom: 2px solid white;
}

@media only screen and (max-width:768px) {
  header{
    position: relative;
  }
}
