<header class="p-3 mb-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a routerLink="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
        <img src="favicon.png" class="bi me-2" width="40" height="32" alt="">
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" routerLink="/"   class="nav-link px-2 link-dark">Home</a></li>
        <li><a href="#" routerLink="/Product/Home" class="nav-link px-2 link-dark">Products</a></li>
        <li *ngIf="CkAdminUSer"><a routerLink="/Admin" class="nav-link px-2 link-dark">Admin</a></li>
      </ul>

      <div class="dropdown text-end">
        <a (click)="DropeLsitToggole()" href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="assets/StaticFiles/icon_setting_white.png"  alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small" [class.show]="ShowDropList" aria-labelledby="dropdownUser1">
          <ng-container *ngIf="UserStateBool else UserNotLgoin">
            <li><a class="dropdown-item" routerLink="/Product/Order">My Order<span class="badge show badge-warning badge-pill" style="background-color:#ffb100;">{{productOrder}}</span></a></li>
            <li *ngIf="CkAdminUSer"><a class="dropdown-item" routerLink="/Admin">Admin</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" role="button" (click)="logout()" href="#">Sign out</a></li>
          </ng-container>
          <ng-template #UserNotLgoin>
            <li><a class="dropdown-item"routerLink="/Account/Login">Login</a></li>
            <li><a class="dropdown-item" routerLink="/Account/Register">Register</a></li>
          </ng-template>

        </ul>
      </div>
    </div>
  </div>
</header>
